#top {
    color: #00ffff;
    font-size: 100px;
    font-style: italic;
}

p {
    font-weight: 700;
    text-align: justify;
    text-decoration: line-through;
    background-color: bisque;
    background-image: url('http://static.gamehub.vn/img/files/2018/08/29/4016184920359087097808953809412485748883456n.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px dashed #ff0000;
    padding: 25px 50px 10px 5px;
    margin: 50px;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.text-red {
    color: #ff0000;
}

img:hover {
    width: 100px;
}